<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:dubbo="http://dubbo.apache.org/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd http://dubbo.apache.org/schema/dubbo http://dubbo.apache.org/schema/dubbo/dubbo.xsd">

    <!--1.扫包-->
    <context:component-scan base-package="com.itheima.web"></context:component-scan>

    <!--3.视图解析器-->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/pages/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>

    <!--配置日期转换器-->
    <bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters">
            <list>
                <bean class="com.itheima.web.controller.converter.MyStringToDateConverter"></bean>
            </list>
        </property>
    </bean>
    <!--2.支持注解开发-->
    <mvc:annotation-driven conversion-service="conversionService"></mvc:annotation-driven>


    <!--配置文件上传的组件-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="5242880"></property>
    </bean>



    <!--加载七牛云的配置-->
    <context:property-placeholder location="classpath:properties/qiniu.properties"></context:property-placeholder>

    <!--开启切面注解支持-->
    <aop:aspectj-autoproxy></aop:aspectj-autoproxy>

    <!--dubbo的配置-->
    <!-- 提供方应用信息，用于计算依赖关系 -->
    <dubbo:application name="export_web_manager"  />

    <!-- 使用multicast广播注册中心暴露服务地址 -->
    <dubbo:registry address="zookeeper://127.0.0.1:2181" />

    <!--dubbo的注解扫描-->
    <dubbo:annotation package="com.itheima.web"></dubbo:annotation>

    <dubbo:consumer check="false"></dubbo:consumer>
</beans>